:root {
  --primary-black: #000000;
  --secondary-black: #1b1b1b;
  --primary-gold: #ce9c6b;
  --seondary-gold: #ffd700;
  --primary-white: #ffffff;
  --seconday-white: #808080;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

/* general css */
a {
  text-decoration: none;
}
.primary-button {
  background-color: var(--primary-gold) !important;
  color: var(--primary-white) !important;
  padding: 10px 25px;
  border-radius: 25px;
  z-index: 2;
}
.bg-primary {
  background-color: var(--primary-gold);
}
section {
  width: 100%;
  padding: 0px;
  text-align: center;
}
iframe {
  padding: 0px;
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

/* navbar css */
.logo {
  font-family: cursive !important;
  color: white;
}
nav {
  max-width: 100%;
  min-width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}
.logo-navbar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links-navbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}
.nav-link {
  color: white;
}
.scrolled {
  background-color: var(--primary-black) !important;
}
/* home page */
.hero-image {
  background-image: url("https://images.pexels.com/photos/2061820/pexels-photo-2061820.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(#000000, #1b1b1b);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline {
  color: var(--primary-white);
  text-decoration: none;
  text-align: center;
  z-index: 1000;
}

/* .description */
.col-25 {
  min-width: 25%;
  color: var(--primary-white);
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-25 > p,
.col-25 > h3 {
  margin: 20px 10px;
}
.social-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col-25 > a {
  color: var(--primary-white);
  font-size: 1.6rem;
}
.underline {
  height: 5px;
  width: 50%;
  background-color: var(--primary-gold);
  margin: 10px auto;
  margin-bottom: 50px;
}
.container {
  color: var(--primary-white);
  width: 70%;
  margin: 0px auto;
  padding: 100px 0px;
  text-align: center;
}

/* .price-section  */
.col-50 {
  width: 50%;
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

/* gallary section */
.gallary {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-bottom: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* footer */
.footer-image {
  background: url("https://images.pexels.com/photos/3998417/pexels-photo-3998417.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}
footer {
  color: var(--primary-white);
  background-color: var(--secondary-black);
  display: flex;
  justify-content: space-between;
}
footer > div {
  padding: 20px;
  width: 33%;
}
.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social > a {
  color: var(--primary-gold);
  font-size: 1.5rem;
  margin: 0px 5px;
}
.developer {
  text-align: right;
}
