body {
  background-color: #ffffff;
  border: 0px;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
}
h1 {
  padding: 0px;
  margin: 0px;
  font-size: 5rem;
}
.hero {
  min-height: 100vh;
  background-image: url("./pexels-garrett-morrow-1649771.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
section {
  min-height: 100vh;
}
nav {
  display: flex;
  color: white;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}
nav > div {
  padding: 10px 50px;
}
nav > div > a {
  margin: 0px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.hero-container {
  text-align: center;
  width: 50%;
  height: 50%;
  margin: auto;
  color: white;
}
