:root{
    --primary-light:#fafafa;
    --secondary-light:#222;
    --accent-light:#fdcb6e;
    --accent-dark: #fdcb6e;
    --primary-dark:#191919;
    --secondary-dark:#e6e6e6;
    --white:#fff;
    --dark:#222;
    --secondary-accent:#ffeaa7;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: var(--primary-light);
    font-family: 'Noto Sans', sans-serif;
}
.dark-mode{
    background: var(--primary-dark);
    color: var(--secondary-dark);
}
.dark-mode nav{
    background-color: var(--primary-dark);
    color: var(--accent);
}
.dark-mode p,.dark-mode h1,.dark-mode h2,.dark-mode h3,.dark-mode h4,.dark-mode h5,.dark-mode h6,.dark-mode a{
    color: var(--secondary-dark);
}
/* height and width utility classes */
.min-h-vh{
    min-height: 100vh;
}
.min-w-vw {
    min-width: 100vw;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.w-90 {
    width: 90%;
}
.w-80{
    width: 80%;
}
.w-50 {
    width: 50%;
}
.w-30{
    width: 30%;
}
/* color utilities */
.bg-primary{
    background-color:var(--accent-light) ;
}
.bg-accent-secondary{
    background-color: var(--secondary-accent);
}
.dark-mode .bg-accent-secondary {
    background-color: var(--secondary-light);
}
.bg-white{
    background-color: var(--white);
}
.dark-mode .bg-white{
    background-color: #222;
}
/* text utility classes */
.text-4xl {
    font-size: 4rem;
}
.text-3xl{
    font-size: 3rem;
}
.text-4xl {
    font-size: 4rem;
}
.text-2xl {
    font-size: 2rem;
}
.text-xl {
    font-size: 1rem;
}
.sub-heading{
    font-size: 1rem;
}
.bold{
    font-weight: 400;
}
a {
    text-decoration: none;
}
.small-text{
    font-size: .75rem;
}

.text-white{
    color: var(--white);
}
p,a,h1,h2,h3,h4,h5,h6{
    color: var(--secondary-light);
}




/* margin and padding utility classes */
.m-1{
    margin: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.mx-auto{
    margin:0 auto;
}
.p-small{
    padding: .5rem;
}
.p-1{
    padding: 2rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.p-0{
    padding: 0;
}
.py-1{
    padding:1rem 0rem; 
}
.px-1 {
    padding: 0rem 1rem;
}
.pl-10p{
    padding-left: 10%;
}


/* layout utility classes */
.z-index-5 {
    z-index:5;
}
.z-index-10{
    z-index: 10;
}
/* img css */
img {
    cursor: pointer;
}

.animate{
    transition: all 0.4s linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.animate:hover{
    transform: translate(0px, -4px) ;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 12px 32px 0px;
}

.dark-mode .animate {
    transition: all 0.4s linear;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.dark-mode .animate:hover {
    transform: translate(0px, -4px);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 12px 32px 0px;
}

/* color utility classes */
.shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shadow:hover{
        box-shadow: rgba(100, 100, 111, 0.5) 0px 12px 32px 0px;
}
/* flex utility classes */
.hidden{
    display: none;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
/* column layout  */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-3{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.col-4 {
    width: 33%;
}
.col-6 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* button utility classes */
.btn{
    padding: 8px 30px;
    font-size: 1rem;
}
.btn-primary{
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color:var(--white) ;
}
.btn-primary:hover {
    background:none;
    color: var(--accent-light);
}
.btn-secondary {
    border: 2px solid var(--accent-light);
    background-color: var(--white);
    color: var(--accent-light);
}
.btn-secondary:hover {
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color: var(--white);
}
.menu{
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color: var(--white);
    display: inline;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1rem;
}
.dark-mode .btn-primary {
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color: var(--white) !important;
}

.dark-mode .btn-primary:hover {
    background: none;
    color: var(--accent-light);
}

.dark-mode .btn-secondary {
    border: 2px solid var(--accent-light);
    background-color: var(--primary-dark);
    color: var(--accent-light);
}
.dark-mode .btn-secondary:hover {
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color: var(--white);
}
.menu {
    border: 2px solid var(--accent-light);
    background-color: var(--accent-light);
    color: var(--white);
    display: inline;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1rem;
}
.text-center{
    text-align: center;
}
.text-accent{
    color: var(--accent-light);
}
ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul>li{
    margin: .5rem 0%;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: auto;
    max-width: 1024px;
}
.overlay{
    background-color: #111;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    opacity: .4;
    left: 0%;
}
input,textarea{
    width: 100%;
    background-color: var(--white);
    border: none;
    padding: 1rem;
}
.newsletterbox{
    padding: 1rem;
    display: flex;
}
.social-icons{
    padding: 1rem;
    margin-right: 1rem; 
    font-size: 1.2rem;
}
.card{
    overflow: hidden;
}
.card p{
    font-size: 1rem;
}
nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 10vh;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    background-color: var(--primary-light);
}
.navbar-toggle{
    display: none;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topnav {
    position: fixed;
    height: 50%;
    width: 100%;
    z-index: 1;
    background-color: var(--white);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transition: 0.5s;
    margin-top: -50vh;
}
#close-toggler{
    display: none;
}
.dark-mode .topnav{
    background-color: var(--primary-dark);
}









/* tablet device */
@media screen and (max-width: 800px) {
    .row{
    height: 100%;
    }
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
    .col-6,.col-4 {
        width: 100%;
        height: auto;
    }
    .h-50{
        height: 50vh;
    }
    .md-bottom{
        justify-content: end;
    }
    .col-3{
        width: 50%;
    }
    .md-reverse{
        flex-direction: column-reverse;
    }
    .text-3xl{
        font-size: 2rem;
    }
    .p-1{
        padding: 0.5rem;
    }
    .py-section {
        padding: 2rem 0rem;
    }
    .icon-container {
        background-color: var(--primary);
        width: 50%;
        padding: 1rem;
        border-radius: 1rem;
    }
    .icon-container img {
        width: 100%;
    }
    .md-flex-bottom{
        justify-content: flex-end;
    }
    .newsletterbox{
        flex-direction: column;
    }
}
/* mobile device */
@media screen and (max-width: 600px) {
    
    .navbar-toggle{
        display: block;
    }
    .nav-link,.themetoggler{
        display: none;
    }
    .rev{
        flex-direction: column-reverse;
    }
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
