:root {
  --primary-color: #fed615;
  --primary-black: #090a0f;
  --secondary-black: #161a1e;
  --primary-white: #fff;
  --container-width: 80%;
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  font-weight: 300 !important;
}
h1 {
  margin-top: 0px;
}
p {
  color: #090a0f;
}
.text-primary {
  color: var(--primary-color);
}

/* whole page navbar */
.navbar-overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  padding: 10px 0px;
  display: none;
  flex-direction: column;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
}
.navbar-main {
  position: relative;
  width: var(--container-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.links-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.links-active {
  color: var(--secondary-black);
  opacity: 1 !important ;
}
.bold {
  font-weight: 800;
}
.links-col > a {
  opacity: 0.3;
  font-size: 1.5rem;
  color: var(--secondary-black);
  margin: 15px 0px;
}
.links-col > a:hover {
  opacity: 1;
}
.extras-col {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* navigation bar */
nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: fixed;
  z-index: 100;
}
header {
  width: var(--container-width);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
header > div > a {
  margin-right: 20px;
}
.nav-button {
  border: 2px solid #090a0f;
  padding: 6px 15px;
  color: #090a0f;
  background: none;
  font-size: 0.7rem;
  text-decoration: none;
}
.nav-button:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.nav-toggler {
  border: 2px solid #090a0f;
  padding: 6px 8px;
  color: #090a0f;
  background: none;
  cursor: pointer;
}
.nav-toggler:hover {
  border: 2px solid #090a0f;
  color: #fff;
  background: var(--secondary-black);
}
.scrolled {
  background-color: var(--primary-color);
  transition: 0.5s ease-in;
}

/* hero component */
.hero {
  padding-top: 150px;
  width: 100%;
}
.main {
  width: var(--container-width);
  margin: auto;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.col-60 {
  width: 60%;
}
.col-40 {
  width: 40%;
}
.col-40 > div > h1 {
  font-weight: 300;
  margin: 0.5rem 0px;
  font-size: 2.2rem;
}
.para-div {
  margin: 50px 0px;
}
.col-40 > p {
  color: grey;
}
.border-button {
  background-color: var(--primary-black);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-left: 10px solid var(--primary-color);
  font-size: 0.8rem;
}
.hero-buttons {
  display: flex;
}
.down-button {
  padding: 4px 10px;
  font-size: 1.2rem;
  border: 2px solid var(--primary-black);
  margin-left: 10px;
  color: #090a0f;
}
.down-button:hover {
  border: 2px solid var(--primary-black);
  background-color: #090a0f;
  transition: 0.5s ease;
  color: #fff;
}
.background {
  background-color: #fed615;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 535px;
  border-radius: 0px 0px 0px 121px;

  z-index: -1;
}
.home {
  position: relative;
  margin-bottom: 100px;
}

/* projects section */
.projects {
  width: 100%;
  margin-top: 100px;
}
.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.heading > div {
  height: 1px;
  width: 75%;
  background-color: #cdcecf;
}
.heading > h1 {
  color: #161a1e;
}
.showcase {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}
.card {
  width: 30%;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  position: relative;
}
.overlay {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #161a1e;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
  cursor: pointer;
}
.overlay:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.z-high {
  z-index: 300 !important;
  color: white;
  opacity: 1;
}
.overlay > div > h3,
.overlay > div > p {
  margin: 2px 6px;
  z-index: 200 !important;
  opacity: 1;
  color: #fff;
}

.overlay > div > button {
  float: right;
  margin: 10px;
  border: 2px solid #fff;
  padding: 6px 8px;
  color: #fff;
  z-index: 10000;
  background: none;
}

/* services */
.services,
.blog {
  margin: 100px 0px;
}
.col-30 {
  text-align: left;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #090a0f;
}
.col-70 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.col-70 > h1 {
  font-size: 1.75rem !important;
  margin: 0px !important;
}
h2 {
  font-weight: 300;
  margin: 5px;
  font-size: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.link {
  margin: 15px 0px;
  font-size: 15px;
  color: #161a1e;
}

/* blog section */
.blogsection {
  margin: 100px;
}
.col-50 {
  width: 50%;
  padding-right: 50px;
}

/* footer */
footer {
  background-color: #161a1e;
  padding-top: 50px;
  opacity: 0.9;
}
.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-bottom: 60px;
}
.list > a {
  color: #cdcecf !important;
  margin: 8px 0px;
  font-size: 0.85rem;
}
.list > p {
  margin: 0px;
  color: #fff;
  font-size: 0.85rem;
}
.mt-2 {
  margin-top: 20px !important;
}
.testimonials {
  background-color: #161a1e;
  color: white;
  padding: 60px 0px;
  margin-bottom: 50px;
}
.indicator {
  height: 3px;
  width: 50px;
  margin: 0px 5px;
  border: 1px solid white;
}
.active-indicator {
  background-color: white;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.white-text {
  color: #fff;
}
h5 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
.col-20 {
  width: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-footer > div > a,
.footer-footer > div > p {
  color: #fff;
}
@media screen and (max-width: 800px) {
  .row,
  .heading,
  .showcase,
  .footer-list,
  .col-60,
  .footer-footer {
    flex-direction: column;
  }
  .sm-center {
    text-align: center;
    align-items: center;
    margin: 20px 0px !important;
  }
  .m-s-2 {
    margin: 20px 0px !important;
  }
  .col-20,
  .col-30,
  .col-40,
  .col-50,
  .col-60,
  .col-70,
  .row,
  .card,
  .links,
  .list {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
  }
  .blogsection,
  .services,
  .blog {
    padding: 0px;
    margin: 0px;
  }
  .main {
    width: 90%;
    margin: auto;
  }
  .card {
    margin: 20px 0px;
  }
  .background {
    display: none;
  }
  .hero-image {
    margin-top: 100px;
  }
}
