<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <script src="./app.js"></script>
</head>
<body>
    <section>
        <div class="card">
            <i class="icon fas fa-envelope"></i>
            <div class="content">
                <h3>Email:</h3>
                <p>anuraggharat55@gmail.com</p>
            </div>
        </div>
        <div class="card">
            <i class="icon fas fa-phone"></i>
            <div class="content">
                <h3>Phone:</h3>
                <p>90909090</p>
            </div>
        </div>
        <div class="card">
            <i class="icon fas fa-map-marker-alt"></i>
            <div class="content">
                <h3>Location</h3>
                <p>Mumbai,Maharashtra,India.</p>
            </div>
        </div>
    </section>
</body>
</html>