<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="middle">
            <a href="" class="btn btn1">Hover Me</a>
            <a href="" class="btn btn2">Hover Me</a>
            <a href="" class="btn btn3">Hover Me</a>
            <a href="" class="btn btn4">Hover Me</a>
          </div>
    </section>
    <section>
        <div class="container">
            <button class="button1">Hover Me</button>
            <button class="button2">Hover Me</button>
            <button class="button3">Hover Me</button>
            <button class="button4">Hover Me</button>

        </div>
    </section>
</body>
</html>