* {
  scroll-behavior: smooth !important;
}
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
.w3-third img {
  opacity: 0.8;
  cursor: pointer;
}

.w3-third img:hover {
  opacity: 1;
}
