<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    span{
        visibility: hidden;
    }
</style>
<body>
    <div>
        <p>
            Here is some 
            <span>Hidden</span>
            text
        </p>
    </div>

    <a href="mailto:tonystart@avengers.com" target="_blank">Send Mail</a>
    <a href="mailto:tonystart@avengers.com?subject=AvengersAssemble&body=Let'sMeet" target="_blank">Send Mail</a>

</body>
</html>