:root {
  --primary-color: #eb4d4b;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb4d4b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Grandstander", cursive;
  /* font-family: 'Kumbh Sans', sans-serif;
font-family: 'Nunito', sans-serif; */
}
nav {
  height: 100px;
  display: flex;
  position: fixed;
  width: 100%;
  color: white;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.logo {
  font-family: cursive;
  font-weight: 800;
  font-size: 4.5rem;
  color: #ffffff;
}

nav > div > a {
  color: white;
  z-index: 5;
  text-decoration: none;
  font-weight: 800 !important;
  font-size: 1.2rem;
}
nav > div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 1;
}
.hero {
  background: url("./pizza2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
}
.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
.headline {
  position: relative;
  z-index: 10 !important;
  color: white;
  font-size: 2rem;
  width: 60%;
  text-align: center;
}
button {
  background-color: var(--primary-color);
  border: 0px;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 15px 35px;
  z-index: 20 !important;
  border: 2px #eb4d4b;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
button:hover {
  color: #eb4d4b;
  background-color: #ffffff;
  border: 2px #eb4d4b;
}
.scrolled {
  background-color: #ffffff;
  color: black;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.scrolled > div > a {
  color: #eb4d4b;
}
.row {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 100px;
}
.col {
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right {
  justify-content: right !important;
  padding: 0px;
}
.right > img {
  float: right;
  margin-left: auto;
}
p {
  font-size: 1.3rem;
  color: grey;
}
.heading {
  font-size: 2rem;
  color: #eb4d4b;
}
.container {
  width: 80%;
  margin: 100px auto;
}
.row-card {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 20%;
  align-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.card:hover {
  background-color: #eb4d4b;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.card > img {
  width: 40%;
}
.menu-row {
  width: 80%;
  margin: auto;
}
.listing {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: space-between;
}
.item {
  width: 45%;
  border-radius: 5px;
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(112, 112, 112, 0.19);
  border: 1pz solid grey; */
}
.nonveg {
  color: #fed330;
  font-weight: 800;
  text-decoration: underline;
}

.item > .image {
  width: 30%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.item > .details {
  width: 70%;
}
.item > .details > p {
  font-size: 1rem;
  margin: 0px;
}
.details > h2 {
  color: var(--primary-color);
}
.item > .image > image {
  width: 90%;
  height: 50%;
}
.footer-item > p {
  font-size: 1rem;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.primary-text {
  color: #eb4d4b;
}
.social {
  margin-right: 20px;
  font-size: 2rem;
  color: #eb4d4b;
}
.contact {
  margin-top: 100px;
  background-color: #eb4d4b;
}
.form {
  background-color: #ffffff;
  width: 80%;
  height: 80%;
  border-radius: 25px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
form > h2 {
  color: #eb4d4b;
  margin: 0px !important;
}
input {
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: whitesmoke;
}
form > a {
  margin: 10px 0px;
  text-decoration: none;
  color: white;
  background-color: #eb4d4b;
  padding: 15px 25px;
  border-radius: 20px;
}
footer {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: center;
  }
  .row-card {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-top: 20px;
  }
  .listing {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  .phonenumber {
    display: none;
  }
  .logo {
    font-size: 1.6rem;
  }
  h1 {
    font: 1rem;
  }
}
