* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #222;
    font-family: 'Noto Sans', sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle-1 {
    position: absolute;
    bottom: 5%;
    right: 20%;
background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    opacity: .75;
    animation: bounce 4s linear infinite;
}
.circle-2 {
    position: absolute;
    top: 5%;
    left: 20%;
background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    opacity: .75;
    animation: bounce 4s linear infinite 2s;
}


.card {
    height: 300px;
    width: 500px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.card>svg {
    position: absolute;
    top: 10%;
    right: 10%;
    fill: #fff;
}

.card>div>p {
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 10px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
.card>p{
    position: absolute;
    bottom: 10%;
    fill: #fff;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.card>div>h1 {
    font-weight: lighter;
    font-size: 16px;
}
.card {
    background: rgba(0, 35, 82, 0.1);
}

@keyframes bounce {
    
    0%{
        transform: translateY(0px) ;  
    }
    25% {
        transform: translateY(10px) ;
    }
    50% {
        transform: translateY(0px) ;
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px) ;
    }
 
}