<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Sidebar menu</title>
    <link rel="stylesheet" href="./style.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li class="nav-link">
                <a class="nav-icon">
                    <i class="ri-home-line"></i>
                </a>
                <span  class="nav-text">Home</span>
            </li>
            <li class="nav-link">
                <a  class="nav-icon">
                    <i class="ri-user-line"></i>
                </a>
                <span  class="nav-text">About</span>
            </li>
            <li class="nav-link">
                <a class="nav-icon">
                    <i class="ri-mail-line"></i>
                </a>
                <span  class="nav-text">Mail</span>
            </li>
            <li class="nav-link">
                <a  class="nav-icon">
                    <i class="ri-settings-5-line"></i>
                </a>
                <span  class="nav-text">Settings</span>
            </li>
            <li class="nav-link">
                <a class="nav-icon"><i class="ri-logout-box-line"></i></a>
                <span  class="nav-text">Contact</span>
            </li>
</ul>
    </nav>
</body>
</html>
<script src="./app.js"></script>